<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

	<%- include("./partials/head") %>

	<body>
		<!-- Header -->

		<% if (locals.user != undefined) { %>
			<%- include("./partials/headerLogueado") %>
		<% } else { %>
			<%- include("./partials/header") %>
		<% } %>
		

		<!-- Header -->
		
		<!-- Banner -->
		<div class="banner">
			<img src="/images/users/banner.png">
		</div>
		<!-- /Banner -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Novedades</h2>
				</div>
				<% productos.forEach(function(producto, index) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/id/<%= producto.id %>">
								<figure class="product-box_image">
									<img class="fotoIndex" src=<%= producto.imagenProd %>>
								</figure>
								<article class="product-box_data">
									<h2><%= producto.nombreProd %></h2>
									<p><%= producto.descripcion %></p>
									<p>Comentarios: <%= producto.comentarios.length %></p>
									<p>Subido por: <a href="/users/profile/id/<%= producto.usuario.id %>"><%= producto.usuario.email %></a></p>
								</article>
							</a>
						</section>
					</div>
				<% }); %>

				<!-- Show the "ultimos" productos -->


			</div>
		</div>
		<!-- /Novedades -->

		<!-- Más comentados -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Más comentados</h2>
				</div>
				<!-- Show the "ultimos" productos -->
				<% productos.forEach(function(producto, index) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/id/<%= producto.id %>">
								<figure class="product-box_image">
									<img class="fotoIndex" src=<%= producto.imagenProd %>>
								</figure>
								<article class="product-box_data">
									<h2><%= producto.nombreProd %></h2>
									<p><%= producto.descripcion %></p>
									<p>Comentarios: <%= producto.comentarios.length %></p>
									<p>Subido por: <a href="/users/profile/id/<%= producto.usuario.id %>"><%= producto.usuario.email %></a></p>
								</article>
							</a>
						</section>
					</div>
				<% }); %>
			</div>
		</div>

		<!-- /Más comentados -->


		<!-- footer -->
		<%- include("./partials/footer") %>
		<!-- /footer -->
		
	</body>	

</html>