<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombreProd%></h2>
			<% if (condition) {%>
				<p class="product-detail-description">
					<form action="/product/editProduct" method="post">
						<input type="hidden" name="id" value="<%= productos.id%>">
						<button class="btn-special btn-red botonAgregar" type="submit"><a>Editar</a></button>
					</form>  
					<a>‎ ‎ </a>
					<form action="/product/delete" method="post">
						<input type="hidden" name="id" value="<%= productos.id%>">
						<input type="hidden" name="idUsuario" value="<%= productos.usuario.id%>">
						<button class="btn-special btn-red botonAgregar" type="submit"><a>Eliminar</a></button>
					</form>
				</p>
			<%}%>
		</div>
		<%if (!condition){ %>
			<p class="user">Producto cargado por <a class="hoverUser" href="/users/profile/id/<%= productos.usuario.id%>">@<%= productos.usuario.usuario%></a></p>
		<%}%>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%= productos.imagenProd%> alt="" class="product-detail-img">
					<p class="product-detail-description"><%= productos.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i = 0; i < comentarios.length; i++) { %>
							<article>
								<img src=<%= comentarios[i].usuario.foto %> alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/users/profile/id/<%= comentarios[i].usuario.id %>"><%= comentarios[i].usuario.usuario %></a> </strong>
										<%= comentarios[i].comentario %>
									</p>
								</div>
							</article>
						<% } %>				
					</section>
					<form class="form" action="/product/id/<%= productos.id %>" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button botonComentario">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /product detail -->

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

</body>	
</html>