<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 id="texto-busqueda" class="products-title">Resultados de búsqueda</h2>
			</div>
		</div>
	</div>
    <div class="container products-wrapper">
        <div class="row">
            <!-- Show the "ultimos" products -->
            <% if (!Array.isArray(productos) && productos != null){
                productos = [productos];
            }
            if (productos && productos.length > 0) {
                productos.forEach(function(producto, index) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/product/id/<%= producto.id %>">
                            <figure class="product-box_image">
                                <img class="fotoIndex" src="<%= producto.imagenProd %>">
                            </figure>
                            <article class="product-box_data">
                                <h2><%= producto.nombreProd %></h2>
                                <p><%= producto.descripcion %></p>
                                <p>Comentarios: 0</p> 
                            </article>
                        </a>
                    </section>
                </div>
            <% })} else {%>
                <h2> No encontramos ningún resultado que coincida con tu búsqueda</h2>
            <% }%>
        </div>
    </div>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

	<script src= "/javascripts/search-results.js" ></script>
</body>

</html>